body{
    margin: 0;
    padding: 0;
}
nav{
    text-align: right;
}
.top-bar{
    list-style-type: none;
    margin: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.top-bar li{
    display: inline;
}

.top-bar li a{
    padding: 8px;
    text-decoration: none;
    color: #000000;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
}

.top-bar li a:hover {
    text-decoration: underline;
}

#google-pic {
    text-align: center;
    margin-top: 110px;
    overflow: hidden;
}

#search-bar-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
}

#searchbar {
    background: #FFF;
    border-radius: 24px;
    height: 34px;
    width: 584px;
    cursor: text;
    border: 2px solid #cfd8e9;
}
#searchbar:focus{
    outline: none;
}

.section-buttons {
    text-align: center;
    padding-top: 18px;
}

.section-buttons input{
    height: 36px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 5px;
    cursor: pointer;
    padding: 0 16px;
    
}

.section-buttons input:focus {
    border: 1px solid #4d90fe;
    outline: none;
}

.section-buttons input:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

#ofrecido {
    text-align: center;
    font-size: small;
    margin-top: 12px;
    line-height: 28px;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}

#ofrecido a{
    text-decoration: none;
}

#ofrecido a:hover{
    text-decoration: underline;
}

footer{
    background: #f2f2f2;
    color: rgba(0,0,0,.54);
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer div {
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 40px;
    
}

footer div a {
    text-decoration: none;
    color: rgba(0,0,0,.54);
    padding-right: 10px;
    margin-left: 30px;
}

#apps-google {
    width: 20px;
}

#iniciar-sesion{
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    background: #4285f4;
    color: #FFF;
    line-height: 28px;
    border-radius: 3px;
}
